<!DOCTYPE html>
<html ng-app="terrys-today">

<head>
  <title>Terry's Today</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <div class="content">
    <header class="header">
      <div class="header-container">
        <div class="header-bg">
          <div class="header-fg">
            <div class="header-content">
              <h1 class="main-title">Terry's Today</h1>
              <p class="main-skill ">
                DEVELOPMENT, TESTING, AUTOMATION, MANAGEMENT, FISHING, PHOTOGRAPHICS, GARDENING
              </p>
              <p class="current-situation">
                Looking for a job | Applying work visa on the beginning of March, 2018
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="content-main " ng-controller="IndexController as index">

      <section>
        <div class="section-inner">
          <h2 class="section-title">Features</h2>
          <div class="container">
            <div class="row">

              <div class="col-lg-4 col-md-12 grid-box" id="{{feature.id}}" ng-repeat="feature in index.features">
                <div class="grid-box-inner {{feature.fgclass}}">
                  <p>
                    <a href="{{feature.linkto}}">
                      {{feature.title}}
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="section-inner">
          <h2 class="section-title">Other Medias</h2>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-12 grid-box" id="{{media.id}}" ng-repeat="media in index.medias">
                <div class="grid-box-inner {{media.fgclass}}">
                  <p>
                    <a href="{{media.linkto}}" target="_blank ">
                      {{media.title}}
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="footer-inner">
        <div class="outerlinks">
          <ul>
            <li>
              <a href="https://twitter.com/tonoccho " target="_blank ">
                <img src="images/twitter.png " />
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/tonoccho " target="_blank ">
                <img src="images/facebook.png " />
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/seiji-tonouchi/ " target="_blank ">
                <img src="images/linkedin.png " />
              </a>
            </li>
            <li>
              <a href="https://github.com/tonoccho " target="_blank ">
                <img src="images/github.png " />
              </a>
            </li>
          </ul>
        </div>

        <p>&copy; 2018　Seiji (Terry) Tonouchi All Rights Reserved.</p>
      </div>
    </footer>
  </div>
</body>

</html>