.content {
    text-align: center;
}

.header {
     background-color: rgba(255,255,255,1.0);
}


.header-bg {
    
    background-image: url("images/terry.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 503px;
}

.header-bg .header-fg {
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
}

.header-bg .header-fg .header-content {
    color: rgba(184, 184, 184, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.main-title {
    font-size: 800%;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.current-situation{
    font-size: 100%;
    color: pink;
    font-weight: bold;
    padding: 32px 0px;
    letter-spacing: 0.2em;
}

.main-skill {
    color: white;
    padding: 32px 0px;
    text-align: center;
    letter-spacing: 0.2em;
}

.section-inner .section-title {
    font-size: 400%;
    letter-spacing: 0.2em;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255,0.5);
    padding: 32px 0px 16px 0px;
    margin: 0;
}

#history {
    background-image: url("images/history.png");
}

#skills {
    background-image: url("images/skills.png");
}

#character {
    background-image: url("images/character.png");
}

#blog1 {
    background-image: url("images/blog1.png");
}
#blog2 {
    background-image: url("images/blog2.png");
}
#blog3 {
    background-image: url("images/blog3.png");
}
#blog4 {
    background-image: url("images/blog4.png");
}

.grid-box {
    height: 300px;
    padding: 4px;
    margin: 0px;
}

.grid-box-inner {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    height: 100%;
    font-size: 200%;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding: 4px;
}

.fg-black {
    background-color: rgba(0,0,0,0.5);
}

.fg-white {
    background-color: rgba(255,255,255,0.5);
}

a:link { color: white; }
a:visited { color: white; }
a:hover { color: white; }
a:active { color: white; }

.container{
    width: 100%;
    margin: 0;
}

.footer {
    background-color:rgba(0,0,0,0.5);
    padding: 48px 0px;
    color: white;
    text-align: center;
}

.outerlinks ul li {
    display: inline;
}

p.category {
    font-size: 50%;
    text-align: center;
}

p.name {
    font-size: 110%;
    text-align: center;
}

p.level {
    font-size: 85%;
    text-align: center;
}

p.level img, p.category img {
    max-width: 128px;
}

.nav-inner{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 8px;
    margin: 0px;
}

.timeline {
    padding-top: 24px;
}
.timeline-date {
    font-size: 150%;
    
}



.timeline-image img{
    max-width: 128px;
}


.timeline-row {
    padding: 4px;
    margin:16px;
}

.timeline-col {
    padding: 0px;
    margin: 0px;
}

.timeline-event-title {
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 120%;
}

.timeline-event-title {
    font-size: 100%;
    font-weight: normal;
}

.character-topic {
    text-align: center;
    padding: 16px;
}

.character-topic img {
    max-width: 100%;
}