body {
    background-color: black;
}

.container {
    background-color: white;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

/* Header settings --> */
.container header .current_situation {
    text-align: center;
    color: blue;
    background-color: lightblue;
}

.container header .main-title {
    font-size: 600%;
    text-align: center;
}

.container header .main_skill {
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;   
    padding: 8px 0px;
    margin: 0;
}

.container header .myface {
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
/* Header Settings <-- */


.snslinkswrapper {
    text-align: right;
}

.snslinks {
    display: flex;
    justify-content: flex-end;
    
}

.current_situation {
    background-color: pink;
    color: red;
}


.logo {
    text-align : center;
}



img {
    max-width: 100%;
}

.feature h3 {
    font-weight: bold;
    text-align: center;
}

.feature p {
    text-align: center;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
}


.sns ul li {
    display: inline;
}

.medialinks, .features{
    text-align: center;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 920px) {

}